<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!-- <div class="col-xl-6 col-sm-4 col-md-3">
                    <select id="messageId" class="form-control" name="msgType" onchange="message_list.setType()">
                            <option value="I">INBOX</option>
                            <option value="S">SENT MESSAGE</option>
                        </select>
                        <div id="compose" class="col-xs-6 col-sm-8 col-md-9 text-right float-right">
                                <button id="add-btn" class="icon-color btn btn-default" style="float-right" data-toggle="tooltip" title="Compose new Message">
                                    <span class="fa fa-plus"></span>
                                    <span>&nbsp;&nbsp;Compose</span>
                                </button>
                        </div>
                        <div id="compose" class="col-xs-6 col-sm-8 col-md-9 text-right">
                                <button id="add-btn" class="icon-color btn btn-default" data-toggle="tooltip" title="Compose new Message">
                                    <span class="fa fa-plus"></span>
                                    <span>&nbsp;&nbsp;Compose</span>
                                </button>
                        </div>
        </div>
     </div> -->
     <div id="row-data" style="padding: 0.75em 0px; background-color: rgb(255, 255, 255); margin-top: -104px; display: block;" class="col-xs-12 row-0" name="add">
            <div id="val" data-toggle="tooltip" data-placement="top" title="Click to view" style="display: none;">
                <div id="text" class="hidden-xs hidden-sm col-x-12" style="padding: 0;">
                    <div class="col-xs-4 text-left" style="padding-left: 10px;">
                        <table style="width: 100%;"><tbody><tr> 
                            <td style="width: 40px; overflow: hidden; padding-right: 10px;">
                                <div style="width: 39.5px; height: 39.5px; overflow: hidden;">
                                    <img style="width: 100%; border-radius: 19.75px;">
                                </div>
                            </td> 
                            <td id="text-all-email" valign="top" style="width: 100%; padding: 0 5px;"> 
                            </td> 
                        </tr></tbody></table>
                    </div>
                    <div class="col-xs-5 text-left word-break" style="text-overflow: ellipsis; overflow : hidden; white-space: nowrap; height: 3em;">
                        <div id="text-all-subject"></div>
                        <div id="text-message" style="text-overflow: ellipsis; overflow : hidden; white-space: nowrap; width: 100%;"></div>
                    </div>
                    <div class="col-xs-3 text-left word-break" id="text-all-date"></div>
                </div>
                <div id="text" class="hidden-md hidden-lg">
                    <div class="col-xs-12" style="padding: 0 5px;">
                        <table style="width: 100%;"><tbody><tr> 
                            <td style="width: 40px; overflow: hidden; padding-right: 15px">
                                <div style="width: 34px; height: 34px; overflow: hidden;">
                                    <img style="width: 100%; border-radius: 17px;">
                                </div>
                            </td> 
                            <td style="width: 100%;"> 
                                <div class="col-xs-6" id="text-all-email" style="padding: 0;"></div>
                                <div class="col-xs-6" id="text-all-date" style="padding: 0;"></div>
                                <div class="col-xs-12" style="padding: 0;">
                                    <div id="text-all-subject"></div>
                                    <div id="text-message" style="text-overflow: ellipsis; overflow : hidden; white-space: nowrap; width: 300px;"></div>
                                </div>
                            </td> 
                        </tr></tbody></table>
                        
                    </div>
                </div>
            </div>
            
            <div id="messageView" style="display:none;position: relative; float: left; width: 100%;">
                <div class="col-xs-12 form-horizontal form-pop">
                    <div class="col-xs-12 form-pop-head">
                        <div style="position: relative; float: left; left: 0; margin-left: -15px;">
                            <span id="cancel-btn" class="hover icon-md fa fa-chevron-left" data-toggle="tooltip" title="Cancel"></span>
                            <span id="form-head">View Message</span>
                        </div>
                        <div style="position: relative; float: right; right: 0; margin-right: -15px;">
                            <span id="print-btn" class="hover icon-md fa fa-print" data-toggle="tooltip" title="Print Letter">
                            </span>
                            <span id="del-btn" class="hover icon-md fa fa-trash dropdown-toggle" style="text-decoration: none; cursor: pointer;" data-toggle="dropdown" title="Delete"></span>
                             <ul class="dropdown-menu dropdown-menu-right alert alert-warning">
                                <li class="" style="margin: 0;">
                                    <div>
                                        <div>Confirm delete message?</div>
                                        <div style="padding-top: 1em;">
                                            <span id="yes-btn" class="hover icon-md fa fa-check" style="text-decoration: none; cursor: pointer;" data-toggle="tooltip" title="Yes delete"></span>
                                            <span id="no-btn" class="hover icon-md fa fa-times" style="text-decoration: none; cursor: pointer;" data-toggle="tooltip" title="Cancel"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul> 
                            
                            <span id="save-btn" class="hover icon-md fa fa-check" data-toggle="tooltip" title="Save"></span>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 form-pop-body">
                        <div style="margin-top: 15px;">
                        </div>
                        <div style="min-height: 100px;" class="visible-print">&nbsp;
                        </div>
                        
                        <div>
        <!-- 					<div class="fieldLabelColor">Date:&nbsp;</div> -->
                            <div id="fromDate"></div>
                        </div>
                        
                        <div style="margin-top: 15px;">
                            <div id="changeRecipient" class="fieldLabelColor">From:&nbsp;</div>
                            <div id="email"></div>
                        </div>
                        
                        <div style="padding-top: 1em;">
                            <div id="subject" style="font-family: arial; font-weight: bold;"></div>
                        </div>
                        
                        <div style="padding-top: 1em; padding-bottom: 2em;">
                            <div id="message"></div>
                        </div>
        
                        <div style="margin-top: 45px;" class="visible-print">
                            <div id="printer" class="fieldLabelColor">To:&nbsp;</div>
                            <div id="printer-email"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div id="form" style="position: relative; float: left; width: 100%;">
                <div class="col-xs-12 form-horizontal form-pop">
                    <div class="col-xs-12 form-pop-head">
                        <div style="position: relative; float: left; left: 0; margin-left: -15px;">
                            <span id="cancel-btn" class="hover icon-md fa fa-chevron-left" data-toggle="tooltip" title="Cancel"></span>
                            <span id="form-head">New Message</span>
                        </div>
                        <div style="position: relative; margin-right: -15px;">
                            
                        </div>
                        <div style="position: relative; float: right; right: 0; margin-right: -15px;">
                            <span id="save-btn" class="hover icon-md fa fa-check" data-toggle="tooltip" title="Send Message"></span>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 form-pop-body">
                        <div style="margin-top: 15px;">
                        </div>
                        <div class="form-group">
                            <div id="label" class="col-xs-12 col-sm-3">
                                <label class="fieldLabelColor">To:*&nbsp;</label>
                            </div>
                             <div class="col-xs-12 col-sm-9">
                                <div class="" style="width: 100%;">
                                    <input id="emailSearch" maxlength="50" class="form-control required ui-autocomplete-input ui-autocomplete-loading" style="width: 100%;" onblur="Com.trim(this); Com.toLower(this)" placeholder="Search by name, K*iD, e:email here" title="Search partial name, full K*iD, partial e:email (prefix with e: or email with @)." autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible">2 results are available, use up and down arrow keys to navigate.</span>
                                    <span id="personPartyId" style="display: none;"></span>
                                    <span id="emailId" style="display: none;"></span>
        
                                    <span id="remove" style="position: absolute; right: 1em; top: 7px; display: none;">
                                        <span class="hover icon-md fa fa-times-circle"></span>
                                    </span>
                                    <span id="down" style="position: absolute; right: 1em; top: 7px;" onclick="$(this).siblings('#emailSearch').focus();">
                                        <span class="hover icon-md fa fa-caret-down" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="subjectColumn">
                            <div id="label" class="col-xs-12 col-sm-3">
                                <label class="fieldLabelColor">Subject:&nbsp;</label>
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <input type="text" id="subject" maxlength="255" class="form-control" placeholder="Subject" data-toggle="tooltip" title="Enter the subject of the message">
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="label" class="col-xs-12">
                                <label class="fieldLabelColor" style="padding-right: 1em;">Message*</label>
                                <span id="add-as-fr-used" class="hover icon-md fa fa-star-o hidden-patient" data-toggle="tooltip" title="Add as favorite"></span>
                            </div>
                            <div class="col-xs-12">
                                    <textarea id="message" rows="5" maxlength="1500" class="form-control required" style="resize: none; overflow: hidden; height: 104px;" placeholder="Message" data-toggle="tooltip" title="Enter the details of the message here"></textarea>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <div class="col-xs-6">
                                <div id="save-btn" class="icon-color btn btn-default" data-toggle="tooltip" title="Send Message">Send</div>
                            </div>
                        </div>                
                </div>
            </div>
        </div>
        




        <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <!-- <label class="custom-file-label" for="inputGroupFile01">Choose file</label> -->
              </div>
            </div>
           
            

            <div class="col-xs-6 col-sm-2 form-group">
                    <button id="advanceSearching" class="icon-color btn btn-default form-control" title="Select or enter search criteria and press search button here" onclick="bill_report.advanceSearch();">
                        <span class="fa fa-search"></span>
                        <span>&nbsp;&nbsp;Search</span>
                    </button>
                </div>
    </body>
</html>